In [1]:
# !pip install sklearn --upgrade

In [2]:
# !pip install joblib

In [3]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df = pd.read_csv("divorce.csv")
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

# FORECASTING MODELS

## Logistic Regression (All Data)

In [6]:
df['Class'].value_counts()

0    86
1    84
Name: Class, dtype: int64

In [7]:
X= df[['Atr2', 'Atr1', 'Atr3', 'Atr4', 'Atr5','Atr6','Atr7','Atr8','Atr9','Atr10','Atr11','Atr12','Atr13','Atr14','Atr15','Atr16','Atr17','Atr18','Atr19','Atr20','Atr21','Atr22','Atr23','Atr24','Atr25','Atr26','Atr27','Atr28','Atr29','Atr30','Atr31','Atr32','Atr32','Atr33','Atr34','Atr35','Atr36','Atr37','Atr38','Atr39','Atr40','Atr41','Atr42','Atr43','Atr44','Atr45','Atr46','Atr47','Atr48','Atr49','Atr50','Atr51','Atr52','Atr53','Atr54']]
y = df["Class"]

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.94

In [11]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.96      0.95        27
           1       0.96      0.92      0.94        24

    accuracy                           0.94        51
   macro avg       0.94      0.94      0.94        51
weighted avg       0.94      0.94      0.94        51

In [12]:
from sklearn.metrics import confusion_matrix

confusion_df = pd.DataFrame(confusion_matrix(y_test,y_pred),
             columns=["Predicted Class " + str(class_name) for class_name in [0,1]],
             index = ["Class " + str(class_name) for class_name in [0,1]])

print(confusion_df)

         Predicted Class 0  Predicted Class 1
Class 0                 26                  1
Class 1                  2                 22

In [13]:
score = logreg.score(X_test, y_test)
score

0.9411764705882353

## Logistic Regression (Top Five Features from Our Findings)

In [14]:
df2 = df[['Atr9', 'Atr18', 'Atr40', 'Atr11', 'Atr20', 'Class']].copy()
df2.head()

   Atr9  Atr18  Atr40  Atr11  Atr20  Class
0     0      0      3      1      1      1
1     4      4      4      4      2      1
2     1      3      3      3      2      1
3     3      3      4      4      4      1
4     0      1      1      0      1      1

In [15]:
X2= df2.drop("Class", axis=1)
y2 = df2["Class"]

In [16]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=0)
logreg2 = LogisticRegression()
logreg2.fit(X2_train, y2_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
y2_pred = logreg2.predict(X2_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg2.score(X2_test, y2_test)))

Accuracy of logistic regression classifier on test set: 0.96

In [18]:
score2 = logreg2.score(X2_test, y2_test)
score2

0.9607843137254902

In [19]:
print(classification_report(y2_test, y2_pred))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96        27
           1       1.00      0.92      0.96        24

    accuracy                           0.96        51
   macro avg       0.97      0.96      0.96        51
weighted avg       0.96      0.96      0.96        51

## Logistic Regression (Top Five Features from Their Findings)

In [26]:
df3 = df[['Atr2', 'Atr6', 'Atr11', 'Atr18', 'Atr26', 'Class']].copy()
df3.head()

   Atr2  Atr6  Atr11  Atr18  Atr26  Class
0     2     0      1      0      0      1
1     4     0      4      4      1      1
2     2     3      3      3      2      1
3     2     3      4      3      1      1
4     2     1      0      1      2      1

In [27]:
X3= df3.drop("Class", axis=1)
y3 = df3["Class"]

In [28]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.3, random_state=0)
logreg3 = LogisticRegression()
logreg3.fit(X3_train, y3_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
y3_pred = logreg3.predict(X3_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg3.score(X3_test, y3_test)))

Accuracy of logistic regression classifier on test set: 0.96

In [30]:
score3 = logreg3.score(X3_test, y3_test)
score3

0.9607843137254902

In [31]:
print(classification_report(y3_test, y3_pred))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96        27
           1       1.00      0.92      0.96        24

    accuracy                           0.96        51
   macro avg       0.97      0.96      0.96        51
weighted avg       0.96      0.96      0.96        51